.item-form__tabs {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: solid 2px #ccc;
}

.item-form__tab-title {
  position: relative;
  bottom: -2px;

  flex: 1;
  margin: var(--pad) var(--pad) 0 var(--pad);
  padding: var(--pad);
  border: solid 2px #ccc;

  cursor: pointer;

  &--active {
    border-bottom: solid 2px var(--color-bg);
  }
}
