.item-favorite {
  position: relative;
  display: inline-block;

  padding: var(--pad-quart) var(--pad2);

  font-size: .8rem;
  font-weight: bold;  
  
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .2;
    transform: skew(30deg);
    background: var(--color-bg-offset);
  }

  &--is-favorite {
    color: var(--color-red-offset);
    text-transform: uppercase;
    
    &:before {
      background: var(--color-red);
    }
  }
}