.item-view {
  position: relative;

  display: grid;
  grid-template-areas:
    "favorite"
    "image"
    "primary"
    "ownership"
    "secondary"
    "controls";
  grid-template-columns: 1fr;
  
  @media(min-width: 800px) {
    grid-template-areas:
      "primary favorite"
      "primary image"
      "ownership image"
      "secondary secondary"
      "controls controls";
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto auto auto 1fr auto auto auto;
  }

  grid-gap: var(--pad);
  min-height: 90vh;

  .item-view__favorite {
    grid-area: favorite;
    text-align: right;
    padding-right: var(--pad);
  }

  .item-view__image {
    grid-area: image;
    background: var(--color-bg-offset-light);
    background: radial-gradient(circle, var(--color-bg-offset) 15%, var(--color-bg-offset-light) 85%);
    padding: var(--pad);
  }

  .item-view__image-inner {
    min-height: 25vh;
    background: rgba(0,0,0,0) center center no-repeat no-repeat;
    background-size: contain;
  }

  .item-view__text {
    grid-area: primary;
  }

  .item-view__name {
    color: var(--color-font-primary);
  }

  .item-view__secondary {
    grid-area: secondary;

    border-top: solid 1px var(--color-bg-offset);
  }

  .item-view__label {
    margin-top: var(--pad);
    font-size: .75rem;
    font-weight: bold;
    color: var(--color-font-primary-offset);
  }

  .item-view__ownership {
    grid-area: ownership;

    border-top: var(--border-1);
  }

  .item-view__ownership-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--pad-half);
    padding: var(--pad);
    padding-bottom: 0;
    
    text-align: center;
  }
    
  .item-view__stat {
    
  }

  .item-view__stat-label {
    font-size: .75rem;
    text-transform: uppercase;
  }

  .item-view__stat-img {
    font-size:  2rem;
    line-height:  2rem;
    font-weight: bold;

    &--owned {
      color: var(--color-primary);
    }

    &--played {
      color: var(--color-secondary);
    }
  }

  .item-view__stat-cta {
    font-size: .75rem;
  }

  .item-view__secondary {
    position: relative;
  }

  .item-view__secondary-expander {
    position: absolute;
    right: 0;
    top: var(--pad-half);
  }

  .item-view__value {
    &--capped {
      max-width: calc(100vw - 4 * var(--pad));
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  .item-view__controls {
    grid-area: controls;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-top: solid 1px var(--color-contrast-bg);
  }
}