.item-view {
  display: grid;
  grid-template-areas:
    "primary image"
    "ownership ownership"
    "secondary secondary"
    "controls controls";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;

  @media(min-width: 800px) {
    grid-template-areas:
      "image primary"
      "image ownership"
      "secondary secondary"
      "controls controls";
  }

  grid-gap: var(--pad);
  min-height: 90vh;

  .item-view__image {
    grid-area: image;
    min-height: 25vh;
    background: rgba(0,0,0,0) center center no-repeat no-repeat;
    background-size: contain;
  }

  .item-view__text {
    grid-area: primary;
  }

  .item-view__ownership {
    grid-area: ownership;
  }

  .item-view__secondary {
    grid-area: secondary;
  }

  .item-view__controls {
    grid-area: controls;
  }

  .item-view__label {
    margin-top: var(--pad);
    color: var(--color-font-primary-offset);
  }

  
  .item-view__ownership {
  }

  .item-view__ownership-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--pad-half);
    padding: var(--pad-half);
    
    text-align: center;
  }
    
  .item-view__icon {
    padding:  var(--pad-quart);
    font-weight: bold;
  }

  .item-view__icon-img {
    font-size:  1.5rem;
    line-height:  1.5rem;
  }

  .item-view__icon-label {
    font-size: .75rem;
  }

  .item-view__secondary {
    h3 {
      font-size: 1.5rem;
    }

    .item-view__label {
      font-size: .75rem;
      font-weight: bold;
    }
  }

  .item-view__controls {
    text-align: right;
  }
}