.item-view {
  position: relative;

  .item-view__secondary {
    border-top: solid 1px var(--color-bg-offset);
  }

  .item-view__label {
    margin-top: var(--pad);
    font-size: .75rem;
    font-weight: bold;
    color: var(--color-font-primary-offset);
  }

  .item-view__secondary {
    position: relative;
  }

  .item-view__secondary-expander {
    position: absolute;
    right: 0;
    top: var(--pad-half);
  }

  .item-view__value {
    &--capped {
      max-width: calc(100vw - 4 * var(--pad));
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  .item-view__controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-top: solid 1px var(--color-contrast-bg);
  }
}