.attributes__block {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

.attributes__label {
  display: block;
  width: 100%;

  margin-top: var(--pad);

  font-size: .75rem;
  color: var(--color-font-primary);
  font-weight: bold;
  
}

.attributes__input {
  display: block;
  flex: 1;
}

.attributes__button {
  display: inline-block;
  margin: 0 0 0 var(--pad);
}
}