.page-head {
  background: var(--color-contrast-bg);

  .page-head__content {
    padding: var(--pad);
  }

  .page-head__logo-title-dark {
    display: none;
  }
  
  @media(prefer-color-scheme: light) {
    .page-head__logo-title-light {
      display: none;
    }
    .page-head__logo-title-dark {
      display: auto;
    } 
  }
}