.barcode-scan #image-viewport {
  display: none;

  canvas {
    display: none;
  }
}

.barcode-scan--open {
  position: fixed;
  left:  var(--pad);  
  right:  var(--pad);  
  bottom:  var(--pad);  
  top:  var(--pad);

  background: #ccc;

  #image-viewport {
    display: block;
  }
}