.app-home {
  text-align: left;

  .app-home__header {
    display: flex;
    flex-flow: row nowrap;

    @media(min-width: 800px) {
      flex-flow: row nowrap;
    }
  }

  .app-home__title {
    flex: 1;
    line-height: 2.5rem;
  }
}