.item-list {
  display: grid;
  background: var(--color-bg);

  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--pad2);

  @media(min-width: 800px) {
    
  }
}

.item-card {
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image prime-attrs"
    "image ownership";
  grid-gap: var(--pad-half);
  border-bottom: solid 1px var(--color-bg-offset);

  padding: var(--pad);
  
  color: var(--color-font-primary);

  @media(min-width: 800px) {
    grid-template:
      "image prime-attrs attrs"
      "image ownership   attrs";
    grid-template-columns: auto 1fr 1fr;
  }
  
  &:hover {
    background: var(--color-bg);
    box-shadow: 1px 1px 6px var(--brand-primary);
  }

  &:link, &:visited {
    color: var(--color-font-primary);
  }

  .item-card__primary-attrs {
    grid-area: prime-attrs;
    
    font-weight: bold;
        
    .item-card__name {
      font-size: 1rem;
      text-overflow: ellipsis;
      max-width: 40vw;
      white-space: nowrap;
      overflow: hidden;
      
      @media(min-width: 800px) {
        font-size: 1.5rem;
        max-width: 325px;
      }
    }

    .item-card__year {
      color: var(--color-font-primary-offset);
      font-size: .8rem;
    }

    .item-card__desc {
      display: none;
    }
  }

  .item-card__attrs {
    grid-area: attrs;

    display: none;

    @media(min-width: 800px) {
      display: unset;
    }
  }

  .item-card__label {
    font-size:  .75rem;
    color:  var(--color-font-primary-offset);
  }

  .item-card__publisher {
    position: relative;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .item-card__inner {
    position: absolute;
    display: inline-block;
    width: 100%;
    font-weight: bold;
  }

  .item-card__image {
    grid-area: image;
  }

  .item-card__image-wrapper {
    position: relative;
    display: inline-block;
    max-width: 175px;
    width: 25vw;
    height: 75px;

    background-color: #eee;
    
    padding: 0 var(--pad-half);

    @media(min-width: 800px) {
      height: 150px;
    }
  }

  .item-card__image-inner {
    position: absolute;
    left: var(--pad-half);
    top: 0;
    right: var(--pad-half);
    bottom: 0;

    background-position: center center;
    background-size: contain;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }

  .item-card__ownership {
    grid-area: ownership;

    font-size: .9rem;
  }

  .item-card__favorite {
    position: absolute;
    right: var(--pad);
    top: var(--pad);
  }

  .ownership-icon {
    display: inline-block;
    width: 16px;
    text-align: center;
    font-weight: bold;

    &--own {
      color: var(--color-secondary);
    }

    &--play {
      color: var(--color-primary);
    }
  }
}